<nav id="navbar" role="navigation" class="navbar navbar-default">
    <!-- navbar-header -->
    <div class="navbar-header">
        <button data-target=".sidebar-collapse" data-toggle="collapse" class="navbar-toggle" type="button">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        </button>
        <a href="/" class="navbar-brand">
            <h2>SRA</h2>
        </a>
    </div>
    <!-- end navbar-header -->
    <!-- navbar-top-links -->
    <ul class="nav navbar-top-links navbar-right">
        <!-- main dropdown -->
        <li>
            <!-- user image section-->
            <div class="user-section">
                <div class="user-section-inner">
                    <img alt="" src="images/user.jpg">
                </div>
                <div class="user-info">
                    <div>Jonny <strong>Deen</strong></div>
                    <div class="user-text-online">
                        <span class="user-circle-online btn btn-success btn-circle "></span>&nbsp;Online
                    </div>
                </div>
            </div>
            <!--end user image section-->
        </li>
        <li class="dropdown">
            <a href="#" data-toggle="dropdown" class="dropdown-toggle">
            <i class="fa fa-user fa-3x"></i>
            </a>
            <!-- dropdown user-->
            <ul class="dropdown-menu dropdown-user">
                <li><a href="/logout"><i class="fa fa-sign-out fa-fw"></i>Logout</a>
                </li>
            </ul>
            <!-- end dropdown-user -->
        </li>
        <!-- end main dropdown -->
    </ul>
    <!-- end navbar-top-links -->
</nav>
